Build 4 Flow.json
[{"id":"96fa8f57.75149","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"3213f71d.7c08b8","type":"mqtt in","z":"96fa8f57.75149","name":"","topic":"room/temperature","qos":"2","datatype":"auto","broker":"946716bb.475018","x":110,"y":40,"wires":[["4e71847a.55e18c","9a043cdc.4058a"]]},{"id":"4e71847a.55e18c","type":"ui_gauge","z":"96fa8f57.75149","name":"","group":"eee387d9.0d5b28","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":"-20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":550,"y":40,"wires":[]},{"id":"87de0bf7.f0af58","type":"mqtt in","z":"96fa8f57.75149","name":"","topic":"room/humidity","qos":"2","datatype":"auto","broker":"946716bb.475018","x":110,"y":240,"wires":[["4c061b0c.07dac4"]]},{"id":"4c061b0c.07dac4","type":"ui_gauge","z":"96fa8f57.75149","name":"","group":"eee387d9.0d5b28","order":0,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":260,"y":240,"wires":[]},{"id":"f94a8065.2ca04","type":"mqtt in","z":"96fa8f57.75149","name":"","topic":"room/photoresistor","qos":"2","datatype":"auto","broker":"946716bb.475018","x":430,"y":240,"wires":[["d2dcb326.a1f4b"]]},{"id":"a6ae97f.41e6268","type":"mqtt out","z":"96fa8f57.75149","name":"","topic":"room/photoresistorThreshold","qos":"0","retain":"true","broker":"946716bb.475018","x":600,"y":300,"wires":[]},{"id":"e84f3236.f5f64","type":"ui_numeric","z":"96fa8f57.75149","name":"","label":"Temperature Threshold","tooltip":"","group":"eee387d9.0d5b28","order":2,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"tempThreshold","topicType":"str","format":"{{msg.payload}}","min":"-20","max":"100","step":"5","className":"","x":330,"y":120,"wires":[["97df0a6b.b91f18"]]},{"id":"e0699e04.b7ff2","type":"ui_numeric","z":"96fa8f57.75149","name":"","label":"Light Threshold","tooltip":"","group":"123f1ed2.652671","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"lightThreshold","topicType":"str","format":"{{msg.payload}}","min":0,"max":"3000","step":"50","className":"","x":360,"y":300,"wires":[["a6ae97f.41e6268"]]},{"id":"a8170b40.bb2fa8","type":"function","z":"96fa8f57.75149","name":"Compare Temp to Threshold","func":"if(flow.get(\"temp\") > flow.get(\"tempThreshold\") && flow.get(\"canSendEmail\") == \"YES\") {\n    msg.payload = \"ON\";\n    flow.set(\"canSendEmail\", \"NO\");\n} else if (flow.get(\"temp\") <= flow.get(\"tempThreshold\")) {\n    msg.payload = \"OFF\";\n    flow.set(\"canSendEmail\", \"YES\");\n} else {\n    msg.payload = \"NOTHING\";\n    flow.set(\"canSendEmail\", \"NO\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":100,"wires":[["feb0d36d.9e13a"]]},{"id":"feb0d36d.9e13a","type":"switch","z":"96fa8f57.75149","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"empty"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":4,"x":930,"y":100,"wires":[["d6db702e.6b4f2"],["47413824.865588"],["74ac5471.71d15c"],["74ac5471.71d15c"]]},{"id":"47413824.865588","type":"mqtt out","z":"96fa8f57.75149","name":"Turn Off Fan","topic":"room/fan","qos":"0","retain":"","broker":"946716bb.475018","x":1090,"y":80,"wires":[]},{"id":"ac17502c.21b7c","type":"mqtt out","z":"96fa8f57.75149","name":"Fan","topic":"room/fan","qos":"0","retain":"true","broker":"946716bb.475018","x":570,"y":180,"wires":[]},{"id":"5bfe3961.f44b98","type":"function","z":"96fa8f57.75149","name":"Turn On/Off Fan","func":"if(msg.payload.includes(\"YES\")) {\n    flow.set(\"fanState\", \"ON\");\n    msg.payload = \"ON\";\n} else {\n    flow.set(\"fanState\", \"OFF\");\n    msg.payload = \"OFF\";\n}\n\nflow.set(\"canSendEmail\", \"NO\");\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["ac17502c.21b7c"]]},{"id":"9a043cdc.4058a","type":"function","z":"96fa8f57.75149","name":"","func":"flow.set(\"temp\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":80,"wires":[["a8170b40.bb2fa8"]]},{"id":"d6db702e.6b4f2","type":"function","z":"96fa8f57.75149","name":"Message","func":"msg.payload = \"The temperature is \" + flow.get(\"temp\") + \". Would you like to turn on the fan?\"\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":40,"wires":[["9af16ef3.69917"]]},{"id":"74ac5471.71d15c","type":"function","z":"96fa8f57.75149","name":"Set FanState Off","func":"flow.set(\"fanState\", \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":140,"wires":[[]]},{"id":"97df0a6b.b91f18","type":"function","z":"96fa8f57.75149","name":"","func":"// if(msg.payload != \"undefined\") {\n//     msg.payload = flow.get(\"tempthreshold\");\n// }\nflow.set(\"tempThreshold\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":120,"wires":[["a8170b40.bb2fa8"]]},{"id":"9af16ef3.69917","type":"e-mail","z":"96fa8f57.75149","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"apptestinz@gmail.com","dname":"","x":1240,"y":40,"wires":[]},{"id":"fe0f7be6.442418","type":"e-mail in","z":"96fa8f57.75149","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"autotls":"never","port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"30","fetch":"auto","inputs":0,"x":90,"y":180,"wires":[["5bfe3961.f44b98"]]},{"id":"970d45e8.4fb818","type":"mqtt in","z":"96fa8f57.75149","name":"","topic":"IoTlab/RFID","qos":"2","datatype":"auto","broker":"946716bb.475018","x":110,"y":420,"wires":[["7746303d.112f","efc36209.13c13"]]},{"id":"7746303d.112f","type":"ui_text","z":"96fa8f57.75149","group":"4b5b1f1.cdf76e","order":1,"width":0,"height":0,"name":"","label":"RFID Tag Name","format":"{{msg.payload}}","layout":"row-left","className":"","x":540,"y":420,"wires":[]},{"id":"6049a300.a5041c","type":"mqtt in","z":"96fa8f57.75149","name":"","topic":"user/temperature","qos":"2","datatype":"auto","broker":"946716bb.475018","x":100,"y":120,"wires":[["e84f3236.f5f64"]]},{"id":"21af586e.1fd238","type":"mqtt in","z":"96fa8f57.75149","name":"","topic":"user/light","qos":"2","datatype":"auto","broker":"946716bb.475018","x":100,"y":300,"wires":[["e0699e04.b7ff2"]]},{"id":"d2dcb326.a1f4b","type":"ui_gauge","z":"96fa8f57.75149","name":"","group":"123f1ed2.652671","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":590,"y":240,"wires":[]},{"id":"5440dd4f.125e34","type":"mqtt in","z":"96fa8f57.75149","name":"","topic":"room/led","qos":"2","datatype":"auto","broker":"946716bb.475018","x":100,"y":360,"wires":[["3561dd68.c67ec2"]]},{"id":"3561dd68.c67ec2","type":"function","z":"96fa8f57.75149","name":"","func":"if(msg.payload == \"ON\" && context.get(\"canSendEmail\") == \"YES\") {\n    msg.payload = \"SEND\";\n    context.set(\"canSendEmail\", \"NO\");\n} else if (msg.payload == \"OFF\"){\n    context.set(\"canSendEmail\", \"YES\");\n    msg.payload = \"DONTSEND\";\n} else {\n    msg.payload = \"DONTSEND\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":360,"wires":[["88bb19d3.ab97a8"]]},{"id":"88bb19d3.ab97a8","type":"switch","z":"96fa8f57.75149","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"SEND","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":360,"wires":[["f175fe99.6d53c"]]},{"id":"f175fe99.6d53c","type":"function","z":"96fa8f57.75149","name":"Message","func":"msg.payload = \"The LED is ON\"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["b17e4d91.afadb"]]},{"id":"b17e4d91.afadb","type":"e-mail","z":"96fa8f57.75149","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"apptestinz@gmail.com","dname":"","x":850,"y":360,"wires":[]},{"id":"4d91601b.e8551","type":"function","z":"96fa8f57.75149","name":"Message","func":"date = new Date();\ntime = date.toLocaleTimeString(\"en-US\", {\n    hour:\"2-digit\",\n    minute:\"2-digit\",\n    hour12:false\n})\n\nmsg.payload = \"At \" + time + \", this \" + msg.payload + \" is here.\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":460,"wires":[["446fa171.bd759"]]},{"id":"446fa171.bd759","type":"e-mail","z":"96fa8f57.75149","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"apptestinz@gmail.com","dname":"","x":740,"y":460,"wires":[]},{"id":"87ef111c.9bba2","type":"mqtt out","z":"96fa8f57.75149","name":"","topic":"user/light","qos":"0","retain":"true","broker":"946716bb.475018","x":1240,"y":580,"wires":[]},{"id":"81c8b685.0f0558","type":"ui_numeric","z":"96fa8f57.75149","name":"","label":"User Light Threshold","tooltip":"","group":"4b5b1f1.cdf76e","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"userLightThreshold","topicType":"str","format":"{{msg.payload}}","min":0,"max":"3000","step":"50","className":"","x":780,"y":580,"wires":[["d1dce5e9.51daa8"]]},{"id":"91a36b2f.77fb98","type":"ui_numeric","z":"96fa8f57.75149","name":"","label":"User Temperature Threshold","tooltip":"","group":"4b5b1f1.cdf76e","order":2,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"userTempThreshold","topicType":"str","format":"{{msg.payload}}","min":"-20","max":"100","step":"5","className":"","x":800,"y":520,"wires":[["ca8e4ebf.8f234"]]},{"id":"7ae1bed5.99f51","type":"mqtt out","z":"96fa8f57.75149","name":"","topic":"user/temperature","qos":"0","retain":"true","broker":"946716bb.475018","x":1270,"y":520,"wires":[]},{"id":"efc36209.13c13","type":"function","z":"96fa8f57.75149","name":"Update Current User","func":"if (msg.payload != \"\" && msg.payload != null && msg.payload != \"undefined\") {\n    flow.set(\"user\", msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":300,"y":460,"wires":[["4d91601b.e8551","cafccba3.91de08","1eebb60c.78400a"]]},{"id":"ca8e4ebf.8f234","type":"function","z":"96fa8f57.75149","name":"Update User Temp","func":"flow.set(\"userTemp\" + flow.get(\"user\"), msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":520,"wires":[["7ae1bed5.99f51"]]},{"id":"d1dce5e9.51daa8","type":"function","z":"96fa8f57.75149","name":"Update User Light","func":"flow.set(\"userLight\" + flow.get(\"user\"), msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":580,"wires":[["87ef111c.9bba2"]]},{"id":"cafccba3.91de08","type":"function","z":"96fa8f57.75149","name":"Set User Temp","func":"if (flow.get(\"userTemp\" + flow.get(\"user\")) == null) {\n    flow.set(\"userTemp\" + flow.get(\"user\"), 30);\n}\nmsg.payload = flow.get(\"userTemp\" + flow.get(\"user\"));\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":520,"wires":[["91a36b2f.77fb98"]]},{"id":"1eebb60c.78400a","type":"function","z":"96fa8f57.75149","name":"Set User Light","func":"if (flow.get(\"userLight\" + flow.get(\"user\")) == null) {\n    flow.set(\"userLight\" + flow.get(\"user\"), 500);\n}\nmsg.payload = flow.get(\"userLight\" + flow.get(\"user\"));\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":580,"wires":[["81c8b685.0f0558"]]},{"id":"bc28f0d0.c3a5f","type":"exec","z":"96fa8f57.75149","command":"/usr/bin/hcitool","addpay":true,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"bt presence","x":330,"y":800,"wires":[["83b3de43.5ddfc"],[],[]]},{"id":"83b3de43.5ddfc","type":"function","z":"96fa8f57.75149","name":"nonempty","func":"msg.payload = msg.payload ? 1 : 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":800,"wires":[["f3a60d71.2f74d"]]},{"id":"c8847bee.7610a8","type":"inject","z":"96fa8f57.75149","name":"cellphone","topic":"","payload":"rrsi 44:5C:E9:C7:47:91","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":780,"wires":[[]]},{"id":"f3a60d71.2f74d","type":"debug","z":"96fa8f57.75149","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":800,"wires":[]},{"id":"df86e1c9.698f1","type":"exec","z":"96fa8f57.75149","command":"python3 /home/pi/Desktop/Scan_Bluetooth.py","addpay":false,"append":"","useSpawn":"false","timer":"30","oldrc":false,"name":"Scan for Devices","x":290,"y":660,"wires":[["dffec22b.c99e6","df3cd50f.15c908"],[],[]]},{"id":"465ac6d5.ae1dc8","type":"function","z":"96fa8f57.75149","name":"Send Command per Device","func":"devices = msg.payload;\ncommands = [];\nif(typeof devices.length === 'number' && devices[0] !== \"\") {\n    for (i = 0; i < devices.length; i++) {\n        commands[i] = \"rssi \" + devices[i];\n        // msg.payload = \"rrsi\" + devices[i];\n        // node.send(msg);\n    }\n}\nmsg.payload = commands;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":660,"wires":[["34bda1c.5c66d5e"]]},{"id":"1e1cbd10.639113","type":"ui_text","z":"96fa8f57.75149","group":"acb5ef74.d1e03","order":2,"width":0,"height":0,"name":"","label":"Number of Devices","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1730,"y":660,"wires":[]},{"id":"df3cd50f.15c908","type":"function","z":"96fa8f57.75149","name":"Convert Devices to Array","func":"devices = msg.payload.split(\"\\r\");\nmsg.payload = devices.filter(function(value, index, arr) {\n    return value;\n});\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":660,"wires":[["465ac6d5.ae1dc8"]]},{"id":"1b30afb5.061d7","type":"function","z":"96fa8f57.75149","name":"Count Devices","func":"devices = msg.payload;\n\ndevices = devices.filter(function(value, index, arr) {\n    rssi = parseInt(value.substring(19));\n    return !value || rssi <= flow.get(\"rssiThreshold\");\n});\n\nif (typeof devices.length === 'number' && devices[0]) {\n    msg.payload = devices.length;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":660,"wires":[["1e1cbd10.639113"]]},{"id":"d11ac62a.5ca258","type":"ui_button","z":"96fa8f57.75149","name":"Start Scanning","group":"acb5ef74.d1e03","order":3,"width":0,"height":0,"passthru":true,"label":"Scan for Devices","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"scan","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":660,"wires":[["df86e1c9.698f1","b37a406.ff725c"]]},{"id":"dffec22b.c99e6","type":"trigger","z":"96fa8f57.75149","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-20","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":510,"y":720,"wires":[["d11ac62a.5ca258"]]},{"id":"34bda1c.5c66d5e","type":"split","z":"96fa8f57.75149","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1040,"y":660,"wires":[["816728f9.7b30f8"]]},{"id":"fe52c045.d1199","type":"join","z":"96fa8f57.75149","name":"","mode":"auto","build":"array","property":"payload","propertyType":"msg","key":"topi","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1350,"y":660,"wires":[["1b30afb5.061d7"]]},{"id":"816728f9.7b30f8","type":"exec","z":"96fa8f57.75149","command":"/usr/bin/hcitool","addpay":true,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"bt presence","x":1190,"y":660,"wires":[["fe52c045.d1199","8457572.18f6ca8"],[],[]]},{"id":"9e4049c3.4cfd38","type":"ui_numeric","z":"96fa8f57.75149","name":"","label":"RSSI Threshold","tooltip":"","group":"acb5ef74.d1e03","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"-100","max":"100","step":"2","className":"","x":130,"y":580,"wires":[["6a1f96eb.07d128"]]},{"id":"6a1f96eb.07d128","type":"function","z":"96fa8f57.75149","name":"Set RSSI Threshold","func":"flow.set(\"rssiThreshold\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":580,"wires":[[]]},{"id":"5a9e006d.a6704","type":"debug","z":"96fa8f57.75149","name":"Scan","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":760,"wires":[]},{"id":"8457572.18f6ca8","type":"debug","z":"96fa8f57.75149","name":"RSSI","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":760,"wires":[]},{"id":"b37a406.ff725c","type":"function","z":"96fa8f57.75149","name":"","func":"const advlib = require('advlib-ble-services');\n\nlet uuid = 'feaa';\nlet serviceData = '10000367657470617265746f07';\n\nlet processedData = advlib.processServiceData(uuid, serviceData);\n\nmsg.payload = processedData;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":740,"wires":[["5a9e006d.a6704"]]},{"id":"946716bb.475018","type":"mqtt-broker","z":"","name":"","broker":"192.168.166.161","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eee387d9.0d5b28","type":"ui_group","name":"Temperature and Humidity","tab":"3907c122.d68f4e","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"123f1ed2.652671","type":"ui_group","name":"Photoresistor","tab":"3907c122.d68f4e","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4b5b1f1.cdf76e","type":"ui_group","name":"User Thresholds","tab":"3907c122.d68f4e","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"acb5ef74.d1e03","type":"ui_group","name":"Bluetooth","tab":"3907c122.d68f4e","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3907c122.d68f4e","type":"ui_tab","name":"Project","icon":"dashboard","order":1,"disabled":false,"hidden":false}]