Build 4 Almost Done.json
[{"id":"5c0f58f24497845e","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"aca2e5026504c5ef","type":"mqtt in","z":"5c0f58f24497845e","name":"","topic":"room/temperature","qos":"2","datatype":"auto","broker":"946716bb.475018","inputs":0,"x":110,"y":2680,"wires":[["5735b58e5d845389","29641cf6708e0aa6"]]},{"id":"5735b58e5d845389","type":"ui_gauge","z":"5c0f58f24497845e","name":"","group":"eee387d9.0d5b28","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":"-20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":550,"y":2680,"wires":[]},{"id":"69889db65c1d46a3","type":"mqtt in","z":"5c0f58f24497845e","name":"","topic":"room/humidity","qos":"2","datatype":"auto","broker":"946716bb.475018","inputs":0,"x":110,"y":2880,"wires":[["4a89a8fe10c48407"]]},{"id":"4a89a8fe10c48407","type":"ui_gauge","z":"5c0f58f24497845e","name":"","group":"eee387d9.0d5b28","order":0,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":260,"y":2880,"wires":[]},{"id":"8ae3f4e0d1e30b84","type":"mqtt in","z":"5c0f58f24497845e","name":"","topic":"room/photoresistor","qos":"2","datatype":"auto","broker":"946716bb.475018","inputs":0,"x":430,"y":2880,"wires":[["3b695af12f09f5a6"]]},{"id":"f89c083c1de59b4b","type":"mqtt out","z":"5c0f58f24497845e","name":"","topic":"room/photoresistorThreshold","qos":"0","retain":"true","broker":"946716bb.475018","x":600,"y":2940,"wires":[]},{"id":"4f73366a2074c2d3","type":"ui_numeric","z":"5c0f58f24497845e","name":"","label":"Temperature Threshold","tooltip":"","group":"eee387d9.0d5b28","order":2,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"tempThreshold","topicType":"str","format":"{{msg.payload}}","min":"-20","max":"100","step":"5","className":"","x":330,"y":2760,"wires":[["e771a7d422574761"]]},{"id":"6f0f0fe1fa47d144","type":"ui_numeric","z":"5c0f58f24497845e","name":"","label":"Light Threshold","tooltip":"","group":"123f1ed2.652671","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"lightThreshold","topicType":"str","format":"{{msg.payload}}","min":0,"max":"3000","step":"50","className":"","x":360,"y":2940,"wires":[["f89c083c1de59b4b"]]},{"id":"36a4e381698c7cea","type":"function","z":"5c0f58f24497845e","name":"Compare Temp to Threshold","func":"if(flow.get(\"temp\") > flow.get(\"tempThreshold\") && flow.get(\"canSendEmail\") == \"YES\") {\n    msg.payload = \"ON\";\n    flow.set(\"canSendEmail\", \"NO\");\n} else if (flow.get(\"temp\") <= flow.get(\"tempThreshold\")) {\n    msg.payload = \"OFF\";\n    flow.set(\"canSendEmail\", \"YES\");\n} else {\n    msg.payload = \"NOTHING\";\n    flow.set(\"canSendEmail\", \"NO\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":2740,"wires":[["8d8332126c037853"]]},{"id":"8d8332126c037853","type":"switch","z":"5c0f58f24497845e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"empty"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":4,"x":930,"y":2740,"wires":[["3d57f41aa2ad0775"],["ad5f77c442096f68"],["0eedde8b90c17e0f"],["0eedde8b90c17e0f"]]},{"id":"ad5f77c442096f68","type":"mqtt out","z":"5c0f58f24497845e","name":"Turn Off Fan","topic":"room/fan","qos":"0","retain":"","broker":"946716bb.475018","x":1090,"y":2720,"wires":[]},{"id":"07ac757b759dcfe6","type":"mqtt out","z":"5c0f58f24497845e","name":"Fan","topic":"room/fan","qos":"0","retain":"true","broker":"946716bb.475018","x":570,"y":2820,"wires":[]},{"id":"1d05a82556a013a4","type":"function","z":"5c0f58f24497845e","name":"Turn On/Off Fan","func":"if(msg.payload.includes(\"YES\")) {\n    flow.set(\"fanState\", \"ON\");\n    msg.payload = \"ON\";\n} else {\n    flow.set(\"fanState\", \"OFF\");\n    msg.payload = \"OFF\";\n}\n\nflow.set(\"canSendEmail\", \"NO\");\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":2820,"wires":[["07ac757b759dcfe6"]]},{"id":"29641cf6708e0aa6","type":"function","z":"5c0f58f24497845e","name":"","func":"flow.set(\"temp\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":2720,"wires":[["36a4e381698c7cea"]]},{"id":"3d57f41aa2ad0775","type":"function","z":"5c0f58f24497845e","name":"Message","func":"msg.payload = \"The temperature is \" + flow.get(\"temp\") + \". Would you like to turn on the fan?\"\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":2680,"wires":[["143cd63e67f0210d"]]},{"id":"0eedde8b90c17e0f","type":"function","z":"5c0f58f24497845e","name":"Set FanState Off","func":"flow.set(\"fanState\", \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":2780,"wires":[[]]},{"id":"e771a7d422574761","type":"function","z":"5c0f58f24497845e","name":"","func":"// if(msg.payload != \"undefined\") {\n//     msg.payload = flow.get(\"tempthreshold\");\n// }\nflow.set(\"tempThreshold\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":2760,"wires":[["36a4e381698c7cea"]]},{"id":"143cd63e67f0210d","type":"e-mail","z":"5c0f58f24497845e","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"apptestinz@gmail.com","dname":"","x":1240,"y":2680,"wires":[]},{"id":"4fa1a182ac40fcbd","type":"e-mail in","z":"5c0f58f24497845e","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"autotls":"never","port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"30","fetch":"auto","inputs":0,"x":90,"y":2820,"wires":[["1d05a82556a013a4"]]},{"id":"ab733ca36791f1db","type":"mqtt in","z":"5c0f58f24497845e","name":"","topic":"IoTlab/RFID","qos":"2","datatype":"auto","broker":"946716bb.475018","inputs":0,"x":110,"y":3060,"wires":[["2347349eccaa9aca","b72b409631a158c3"]]},{"id":"2347349eccaa9aca","type":"ui_text","z":"5c0f58f24497845e","group":"4b5b1f1.cdf76e","order":1,"width":0,"height":0,"name":"","label":"RFID Tag Name","format":"{{msg.payload}}","layout":"row-left","className":"","x":540,"y":3060,"wires":[]},{"id":"646186030a13676a","type":"mqtt in","z":"5c0f58f24497845e","name":"","topic":"user/temperature","qos":"2","datatype":"auto","broker":"946716bb.475018","inputs":0,"x":100,"y":2760,"wires":[["4f73366a2074c2d3"]]},{"id":"a400b3ed36aad155","type":"mqtt in","z":"5c0f58f24497845e","name":"","topic":"user/light","qos":"2","datatype":"auto","broker":"946716bb.475018","inputs":0,"x":100,"y":2940,"wires":[["6f0f0fe1fa47d144"]]},{"id":"3b695af12f09f5a6","type":"ui_gauge","z":"5c0f58f24497845e","name":"","group":"123f1ed2.652671","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":590,"y":2880,"wires":[]},{"id":"8791d96e06a1b6db","type":"mqtt in","z":"5c0f58f24497845e","name":"","topic":"room/led","qos":"2","datatype":"auto","broker":"946716bb.475018","inputs":0,"x":100,"y":3000,"wires":[["e4763d4052fb5d50"]]},{"id":"e4763d4052fb5d50","type":"function","z":"5c0f58f24497845e","name":"","func":"if(msg.payload == \"ON\" && context.get(\"canSendEmail\") == \"YES\") {\n    msg.payload = \"SEND\";\n    context.set(\"canSendEmail\", \"NO\");\n} else if (msg.payload == \"OFF\"){\n    context.set(\"canSendEmail\", \"YES\");\n    msg.payload = \"DONTSEND\";\n} else {\n    msg.payload = \"DONTSEND\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":3000,"wires":[["3c4b7c3113c860ef"]]},{"id":"3c4b7c3113c860ef","type":"switch","z":"5c0f58f24497845e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"SEND","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":3000,"wires":[["7e1e3bf13a4283bc"]]},{"id":"7e1e3bf13a4283bc","type":"function","z":"5c0f58f24497845e","name":"Message","func":"msg.payload = \"The LED is ON\"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":3000,"wires":[["0d3b4b0a48d6258a"]]},{"id":"0d3b4b0a48d6258a","type":"e-mail","z":"5c0f58f24497845e","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"apptestinz@gmail.com","dname":"","x":850,"y":3000,"wires":[]},{"id":"f8d5981e26d2ab14","type":"function","z":"5c0f58f24497845e","name":"Message","func":"date = new Date();\ntime = date.toLocaleTimeString(\"en-US\", {\n    hour:\"2-digit\",\n    minute:\"2-digit\",\n    hour12:false\n})\n\nmsg.payload = \"At \" + time + \", this \" + msg.payload + \" is here.\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":3100,"wires":[["9e3f5eedc20c8f2c"]]},{"id":"9e3f5eedc20c8f2c","type":"e-mail","z":"5c0f58f24497845e","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"apptestinz@gmail.com","dname":"","x":740,"y":3100,"wires":[]},{"id":"28ba13c88b998dbd","type":"mqtt out","z":"5c0f58f24497845e","name":"","topic":"user/light","qos":"0","retain":"true","broker":"946716bb.475018","x":1240,"y":3220,"wires":[]},{"id":"a922bcb0ac0ebe25","type":"ui_numeric","z":"5c0f58f24497845e","name":"","label":"User Light Threshold","tooltip":"","group":"4b5b1f1.cdf76e","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"userLightThreshold","topicType":"str","format":"{{msg.payload}}","min":0,"max":"3000","step":"50","className":"","x":780,"y":3220,"wires":[["96f6ef8b8f377f76"]]},{"id":"dd94ce6d24845996","type":"ui_numeric","z":"5c0f58f24497845e","name":"","label":"User Temperature Threshold","tooltip":"","group":"4b5b1f1.cdf76e","order":2,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"userTempThreshold","topicType":"str","format":"{{msg.payload}}","min":"-20","max":"100","step":"5","className":"","x":800,"y":3160,"wires":[["2a9346f32be5c5fb"]]},{"id":"46c0a77b54fc33f2","type":"mqtt out","z":"5c0f58f24497845e","name":"","topic":"user/temperature","qos":"0","retain":"true","broker":"946716bb.475018","x":1270,"y":3160,"wires":[]},{"id":"b72b409631a158c3","type":"function","z":"5c0f58f24497845e","name":"Update Current User","func":"if (msg.payload != \"\" && msg.payload != null && msg.payload != \"undefined\") {\n    flow.set(\"user\", msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":300,"y":3100,"wires":[["f8d5981e26d2ab14","4c8d4704b895fb1e","52629e3e18495803"]]},{"id":"2a9346f32be5c5fb","type":"function","z":"5c0f58f24497845e","name":"Update User Temp","func":"flow.set(\"userTemp\" + flow.get(\"user\"), msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":3160,"wires":[["46c0a77b54fc33f2"]]},{"id":"96f6ef8b8f377f76","type":"function","z":"5c0f58f24497845e","name":"Update User Light","func":"flow.set(\"userLight\" + flow.get(\"user\"), msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":3220,"wires":[["28ba13c88b998dbd"]]},{"id":"4c8d4704b895fb1e","type":"function","z":"5c0f58f24497845e","name":"Set User Temp","func":"if (flow.get(\"userTemp\" + flow.get(\"user\")) == null) {\n    flow.set(\"userTemp\" + flow.get(\"user\"), 30);\n}\nmsg.payload = flow.get(\"userTemp\" + flow.get(\"user\"));\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":3160,"wires":[["dd94ce6d24845996"]]},{"id":"52629e3e18495803","type":"function","z":"5c0f58f24497845e","name":"Set User Light","func":"if (flow.get(\"userLight\" + flow.get(\"user\")) == null) {\n    flow.set(\"userLight\" + flow.get(\"user\"), 500);\n}\nmsg.payload = flow.get(\"userLight\" + flow.get(\"user\"));\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":3220,"wires":[["a922bcb0ac0ebe25"]]},{"id":"028e31d50a71b92d","type":"function","z":"5c0f58f24497845e","name":"Convert Devices to Array","func":"function JSONize(str) {\n  return str\n    // wrap keys without quote with valid double quote\n    .replace(/([\\$\\w]+)\\s*:/g, function(_, $1){return '\"'+$1+'\":'})    \n    // replacing single quote wrapped ones to double quote \n    .replace(/'([^']+)'/g, function(_, $1){return '\"'+$1+'\"'})         \n}\nfunction removeDuplicates(arr) {\n    jsonObject = arr.map(JSON.stringify);\n\n    uniqueSet = new Set(jsonObject);\n    uniqueArray = Array.from(uniqueSet).map(JSON.parse);\n\n    return uniqueArray;\n}\ntry {\n\n    devices = msg.payload.substring(86).replace(/[\\n\\r\\s]/g, '').split(/(?<=})/);\n\n    devicesMap = new Map();\n    for (let i = 0; i < devices.length; i++) {\n        const device = JSON.parse(JSONize(devices[i]));\n        devicesMap.map(device.transmittedId, device.rssi);\n    }\n    \n    validRSSIs = devicesMap.filter(function(value, index, arr) {\n        return value <= flow.get(\"rssiThreshold\");\n    });\n    \n    if(validRSSIs != 'undefined' && validRSSIs != null) {\n        msg.payload = validRSSIs.length;   \n    } else {\n        msg.payload = 0;\n    }   \n} catch (err){\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":3300,"wires":[["c10166b8d6ed8ac3","5730ff1b95d0b9a2"]]},{"id":"26ff7d6f8ef70e82","type":"ui_button","z":"5c0f58f24497845e","name":"Start Scanning","group":"acb5ef74.d1e03","order":3,"width":0,"height":0,"passthru":true,"label":"Scan for Devices","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"scan","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":3300,"wires":[["9dafe35d71a04ea2"]]},{"id":"04d8c7a46869a10b","type":"trigger","z":"5c0f58f24497845e","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-15","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":450,"y":3360,"wires":[["26ff7d6f8ef70e82"]]},{"id":"9a26f4a025703c42","type":"ui_numeric","z":"5c0f58f24497845e","name":"","label":"RSSI Threshold","tooltip":"","group":"acb5ef74.d1e03","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{msg.payload}}","min":"-100","max":"100","step":"2","className":"","x":130,"y":3220,"wires":[["90a828daa2cd381e"]]},{"id":"90a828daa2cd381e","type":"function","z":"5c0f58f24497845e","name":"Set RSSI Threshold","func":"flow.set(\"rssiThreshold\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":3220,"wires":[[]]},{"id":"9dafe35d71a04ea2","type":"exec","z":"5c0f58f24497845e","command":"cd Desktop/barnowl-hci-master; timeout 15 npm start;","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Run Barnowl","x":310,"y":3300,"wires":[["04d8c7a46869a10b","028e31d50a71b92d"],[],[]]},{"id":"c10166b8d6ed8ac3","type":"ui_text","z":"5c0f58f24497845e","group":"acb5ef74.d1e03","order":2,"width":0,"height":0,"name":"","label":"Number of Devices","format":"{{msg.payload}}","layout":"row-spread","className":"","x":850,"y":3280,"wires":[]},{"id":"5730ff1b95d0b9a2","type":"debug","z":"5c0f58f24497845e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":3360,"wires":[]},{"id":"946716bb.475018","type":"mqtt-broker","name":"","broker":"192.168.166.161","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eee387d9.0d5b28","type":"ui_group","name":"Temperature and Humidity","tab":"3907c122.d68f4e","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"123f1ed2.652671","type":"ui_group","name":"Photoresistor","tab":"3907c122.d68f4e","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4b5b1f1.cdf76e","type":"ui_group","name":"User Thresholds","tab":"3907c122.d68f4e","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"acb5ef74.d1e03","type":"ui_group","name":"Bluetooth","tab":"3907c122.d68f4e","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3907c122.d68f4e","type":"ui_tab","name":"Project","icon":"dashboard","order":1,"disabled":false,"hidden":false}]