Build 4 Flow.json
[
    {
        "id": "38c7601eaf2e42c6",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6356ab92b9793a84",
        "type": "mqtt in",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "topic": "room/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "946716bb.475018",
        "x": 110,
        "y": 20,
        "wires": [
            [
                "5dd56b870c9221df",
                "bd06eab7e8fc8355"
            ]
        ]
    },
    {
        "id": "5dd56b870c9221df",
        "type": "ui_gauge",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "group": "eee387d9.0d5b28",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{value}}",
        "min": "-20",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 20,
        "wires": []
    },
    {
        "id": "b2632d2d4cda7a15",
        "type": "mqtt in",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "topic": "room/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "946716bb.475018",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "69b39218558b8abd"
            ]
        ]
    },
    {
        "id": "69b39218558b8abd",
        "type": "ui_gauge",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "group": "eee387d9.0d5b28",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 260,
        "y": 220,
        "wires": []
    },
    {
        "id": "3a054e3648df22bf",
        "type": "mqtt in",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "topic": "room/photoresistor",
        "qos": "2",
        "datatype": "auto",
        "broker": "946716bb.475018",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "7b481e079c44f305"
            ]
        ]
    },
    {
        "id": "e0bfc9d00a44608b",
        "type": "mqtt out",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "topic": "room/photoresistorThreshold",
        "qos": "0",
        "retain": "true",
        "broker": "946716bb.475018",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "9140fa53c8a4c3c7",
        "type": "ui_numeric",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "label": "Temperature Threshold",
        "tooltip": "",
        "group": "eee387d9.0d5b28",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "tempThreshold",
        "topicType": "str",
        "format": "{{msg.payload}}",
        "min": "-20",
        "max": "100",
        "step": "5",
        "className": "",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "1ff961d80c8add19"
            ]
        ]
    },
    {
        "id": "e8814bad1c5dbb01",
        "type": "ui_numeric",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "label": "Light Threshold",
        "tooltip": "",
        "group": "123f1ed2.652671",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "lightThreshold",
        "topicType": "str",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "3000",
        "step": "50",
        "className": "",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "e0bfc9d00a44608b"
            ]
        ]
    },
    {
        "id": "ce13a72ac5382b85",
        "type": "function",
        "z": "38c7601eaf2e42c6",
        "name": "Compare Temp to Threshold",
        "func": "if(flow.get(\"temp\") > flow.get(\"tempThreshold\") && flow.get(\"canSendEmail\") == \"YES\") {\n    msg.payload = \"ON\";\n    flow.set(\"canSendEmail\", \"NO\");\n} else if (flow.get(\"temp\") <= flow.get(\"tempThreshold\")) {\n    msg.payload = \"OFF\";\n    flow.set(\"canSendEmail\", \"YES\");\n} else {\n    msg.payload = \"NOTHING\";\n    flow.set(\"canSendEmail\", \"NO\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 80,
        "wires": [
            [
                "39aa4c702de57e7b"
            ]
        ]
    },
    {
        "id": "39aa4c702de57e7b",
        "type": "switch",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            },
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 930,
        "y": 80,
        "wires": [
            [
                "a791241221853046"
            ],
            [
                "37a1ad23a5e88048"
            ],
            [
                "6f8a7b10c1aae1ba"
            ],
            [
                "6f8a7b10c1aae1ba"
            ]
        ]
    },
    {
        "id": "37a1ad23a5e88048",
        "type": "mqtt out",
        "z": "38c7601eaf2e42c6",
        "name": "Turn Off Fan",
        "topic": "room/fan",
        "qos": "0",
        "retain": "",
        "broker": "946716bb.475018",
        "x": 1090,
        "y": 60,
        "wires": []
    },
    {
        "id": "ec8d8165c2a1eaea",
        "type": "mqtt out",
        "z": "38c7601eaf2e42c6",
        "name": "Fan",
        "topic": "room/fan",
        "qos": "0",
        "retain": "true",
        "broker": "946716bb.475018",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "7560ef95193e3f87",
        "type": "function",
        "z": "38c7601eaf2e42c6",
        "name": "Turn On/Off Fan",
        "func": "if(msg.payload.includes(\"YES\")) {\n    flow.set(\"fanState\", \"ON\");\n    msg.payload = \"ON\";\n} else {\n    flow.set(\"fanState\", \"OFF\");\n    msg.payload = \"OFF\";\n}\n\nflow.set(\"canSendEmail\", \"NO\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "ec8d8165c2a1eaea"
            ]
        ]
    },
    {
        "id": "bd06eab7e8fc8355",
        "type": "function",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "func": "flow.set(\"temp\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 60,
        "wires": [
            [
                "ce13a72ac5382b85"
            ]
        ]
    },
    {
        "id": "a791241221853046",
        "type": "function",
        "z": "38c7601eaf2e42c6",
        "name": "Message",
        "func": "msg.payload = \"The temperature is \" + flow.get(\"temp\") + \". Would you like to turn on the fan?\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 20,
        "wires": [
            [
                "baeaef43085baed9"
            ]
        ]
    },
    {
        "id": "6f8a7b10c1aae1ba",
        "type": "function",
        "z": "38c7601eaf2e42c6",
        "name": "Set FanState Off",
        "func": "flow.set(\"fanState\", \"OFF\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1ff961d80c8add19",
        "type": "function",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "func": "// if(msg.payload != \"undefined\") {\n//     msg.payload = flow.get(\"tempthreshold\");\n// }\nflow.set(\"tempThreshold\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 100,
        "wires": [
            [
                "ce13a72ac5382b85"
            ]
        ]
    },
    {
        "id": "baeaef43085baed9",
        "type": "e-mail",
        "z": "38c7601eaf2e42c6",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "apptestinz@gmail.com",
        "dname": "",
        "x": 1240,
        "y": 20,
        "wires": []
    },
    {
        "id": "62df65f94137801c",
        "type": "e-mail in",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "autotls": "never",
        "port": "993",
        "box": "INBOX",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "30",
        "fetch": "auto",
        "inputs": 0,
        "x": 90,
        "y": 160,
        "wires": [
            [
                "7560ef95193e3f87"
            ]
        ]
    },
    {
        "id": "e132f244acbef451",
        "type": "mqtt in",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "topic": "IoTlab/RFID",
        "qos": "2",
        "datatype": "auto",
        "broker": "946716bb.475018",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "7057ea6cf9631a40",
                "76da2218c30c5c9d"
            ]
        ]
    },
    {
        "id": "7057ea6cf9631a40",
        "type": "ui_text",
        "z": "38c7601eaf2e42c6",
        "group": "4b5b1f1.cdf76e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RFID Tag Name",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "1a8f85665d5e3940",
        "type": "mqtt in",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "topic": "user/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "946716bb.475018",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "9140fa53c8a4c3c7"
            ]
        ]
    },
    {
        "id": "b77241b6c280b66c",
        "type": "mqtt in",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "topic": "user/light",
        "qos": "2",
        "datatype": "auto",
        "broker": "946716bb.475018",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "e8814bad1c5dbb01"
            ]
        ]
    },
    {
        "id": "7b481e079c44f305",
        "type": "ui_gauge",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "group": "123f1ed2.652671",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "3000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "6fb38d782cfe6f54",
        "type": "mqtt in",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "topic": "room/led",
        "qos": "2",
        "datatype": "auto",
        "broker": "946716bb.475018",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "c6e43441dba235b2"
            ]
        ]
    },
    {
        "id": "c6e43441dba235b2",
        "type": "function",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "func": "if(msg.payload == \"ON\" && context.get(\"canSendEmail\") == \"YES\") {\n    msg.payload = \"SEND\";\n    context.set(\"canSendEmail\", \"NO\");\n} else if (msg.payload == \"OFF\"){\n    context.set(\"canSendEmail\", \"YES\");\n    msg.payload = \"DONTSEND\";\n} else {\n    msg.payload = \"DONTSEND\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 340,
        "wires": [
            [
                "ce3377ff06d7e254"
            ]
        ]
    },
    {
        "id": "ce3377ff06d7e254",
        "type": "switch",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SEND",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 340,
        "wires": [
            [
                "4d903a5120d49995"
            ]
        ]
    },
    {
        "id": "4d903a5120d49995",
        "type": "function",
        "z": "38c7601eaf2e42c6",
        "name": "Message",
        "func": "msg.payload = \"The LED is ON\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 340,
        "wires": [
            [
                "7c3ecc7b8ace780a"
            ]
        ]
    },
    {
        "id": "7c3ecc7b8ace780a",
        "type": "e-mail",
        "z": "38c7601eaf2e42c6",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "apptestinz@gmail.com",
        "dname": "",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "3875710df3d315d5",
        "type": "function",
        "z": "38c7601eaf2e42c6",
        "name": "Message",
        "func": "date = new Date();\ntime = date.toLocaleTimeString(\"en-US\", {\n    hour:\"2-digit\",\n    minute:\"2-digit\",\n    hour12:false\n})\n\nmsg.payload = \"At \" + time + \", this \" + msg.payload + \" is here.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 440,
        "wires": [
            [
                "538866c22dcfea7f"
            ]
        ]
    },
    {
        "id": "538866c22dcfea7f",
        "type": "e-mail",
        "z": "38c7601eaf2e42c6",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "apptestinz@gmail.com",
        "dname": "",
        "x": 740,
        "y": 440,
        "wires": []
    },
    {
        "id": "88def8287fac1af3",
        "type": "mqtt out",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "topic": "user/light",
        "qos": "0",
        "retain": "true",
        "broker": "946716bb.475018",
        "x": 1240,
        "y": 560,
        "wires": []
    },
    {
        "id": "921ec1fa5bc69cdf",
        "type": "ui_numeric",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "label": "User Light Threshold",
        "tooltip": "",
        "group": "4b5b1f1.cdf76e",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "userLightThreshold",
        "topicType": "str",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "3000",
        "step": "50",
        "className": "",
        "x": 780,
        "y": 560,
        "wires": [
            [
                "53b7968f0e58d8e8"
            ]
        ]
    },
    {
        "id": "109fb8c89f061943",
        "type": "ui_numeric",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "label": "User Temperature Threshold",
        "tooltip": "",
        "group": "4b5b1f1.cdf76e",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "userTempThreshold",
        "topicType": "str",
        "format": "{{msg.payload}}",
        "min": "-20",
        "max": "100",
        "step": "5",
        "className": "",
        "x": 800,
        "y": 500,
        "wires": [
            [
                "0c8d1e3aa428ef22"
            ]
        ]
    },
    {
        "id": "31403a98f5c5e25a",
        "type": "mqtt out",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "topic": "user/temperature",
        "qos": "0",
        "retain": "true",
        "broker": "946716bb.475018",
        "x": 1270,
        "y": 500,
        "wires": []
    },
    {
        "id": "76da2218c30c5c9d",
        "type": "function",
        "z": "38c7601eaf2e42c6",
        "name": "Update Current User",
        "func": "if (msg.payload != \"\" && msg.payload != null && msg.payload != \"undefined\") {\n    flow.set(\"user\", msg.payload);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 440,
        "wires": [
            [
                "3875710df3d315d5",
                "53d80dd5d89dec10",
                "82985fdf05d57817"
            ]
        ]
    },
    {
        "id": "0c8d1e3aa428ef22",
        "type": "function",
        "z": "38c7601eaf2e42c6",
        "name": "Update User Temp",
        "func": "flow.set(\"userTemp\" + flow.get(\"user\"), msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 500,
        "wires": [
            [
                "31403a98f5c5e25a"
            ]
        ]
    },
    {
        "id": "53b7968f0e58d8e8",
        "type": "function",
        "z": "38c7601eaf2e42c6",
        "name": "Update User Light",
        "func": "flow.set(\"userLight\" + flow.get(\"user\"), msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 560,
        "wires": [
            [
                "88def8287fac1af3"
            ]
        ]
    },
    {
        "id": "53d80dd5d89dec10",
        "type": "function",
        "z": "38c7601eaf2e42c6",
        "name": "Set User Temp",
        "func": "if (flow.get(\"userTemp\" + flow.get(\"user\")) == null) {\n    flow.set(\"userTemp\" + flow.get(\"user\"), 30);\n}\nmsg.payload = flow.get(\"userTemp\" + flow.get(\"user\"));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 500,
        "wires": [
            [
                "109fb8c89f061943"
            ]
        ]
    },
    {
        "id": "82985fdf05d57817",
        "type": "function",
        "z": "38c7601eaf2e42c6",
        "name": "Set User Light",
        "func": "if (flow.get(\"userLight\" + flow.get(\"user\")) == null) {\n    flow.set(\"userLight\" + flow.get(\"user\"), 500);\n}\nmsg.payload = flow.get(\"userLight\" + flow.get(\"user\"));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 560,
        "wires": [
            [
                "921ec1fa5bc69cdf"
            ]
        ]
    },
    {
        "id": "bd9e4d7c5ff7ce91",
        "type": "function",
        "z": "38c7601eaf2e42c6",
        "name": "Convert Devices to Array",
        "func": "function JSONize(str) {\n  return str\n    // wrap keys without quote with valid double quote\n    .replace(/([\\$\\w]+)\\s*:/g, function(_, $1){return '\"'+$1+'\":'})    \n    // replacing single quote wrapped ones to double quote \n    .replace(/'([^']+)'/g, function(_, $1){return '\"'+$1+'\"'})         \n}\n\ntry {\n\n    devices = msg.payload.substring(msg.payload.indexOf('{')).replace(/[\\n\\r\\s]/g, '').split(/(?<=})/);\n    //devices.reverse();]\n    transmittedIds = [];\n    RSSIs = [];\n    for (let i = 0; i < devices.length; i++) {\n        const device = JSON.parse(JSONize(devices[i]));\n        if(transmittedIds.includes(device.transmittedId)) {\n            continue;\n        }\n        transmittedIds.push(device.transmittedId);\n        RSSIs.push(device.rssi);\n    }\n    if(RSSIs.length === 0) {\n        msg.payload = 0;\n    }\n    RSSIs = RSSIs.filter(function(value, index, arr) {\n        return value <= flow.get(\"rssiThreshold\");\n    });\n    \n    if(RSSIs.length != 0 && RSSIs != 'undefined' && RSSIs != null) {\n        msg.payload = RSSIs.length;   \n    } else {\n        msg.payload = 0;\n    }   \n} catch (err){\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 640,
        "wires": [
            [
                "7a9b50a2d3a7b500",
                "94d13c7668d47ccd",
                "d08038590a566fb7"
            ]
        ]
    },
    {
        "id": "6e14a35720c01b7e",
        "type": "ui_button",
        "z": "38c7601eaf2e42c6",
        "name": "Start Scanning",
        "group": "acb5ef74.d1e03",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Scan for Devices",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "scan",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 640,
        "wires": [
            [
                "94d1ec399fad5c45"
            ]
        ]
    },
    {
        "id": "5fbb3d1017d9806c",
        "type": "trigger",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-15",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 450,
        "y": 700,
        "wires": [
            [
                "6e14a35720c01b7e"
            ]
        ]
    },
    {
        "id": "c42c3d26a337420a",
        "type": "ui_numeric",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "label": "RSSI Threshold",
        "tooltip": "",
        "group": "acb5ef74.d1e03",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{msg.payload}}",
        "min": "-100",
        "max": "100",
        "step": "2",
        "className": "",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "025d39e795b78a24"
            ]
        ]
    },
    {
        "id": "025d39e795b78a24",
        "type": "function",
        "z": "38c7601eaf2e42c6",
        "name": "Set RSSI Threshold",
        "func": "flow.set(\"rssiThreshold\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "94d1ec399fad5c45",
        "type": "exec",
        "z": "38c7601eaf2e42c6",
        "command": "cd /home/pi/Downloads/IoTDashboard-main/barnowl-hci-master; sudo timeout 15 npm start;",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Run Barnowl",
        "x": 310,
        "y": 640,
        "wires": [
            [
                "5fbb3d1017d9806c",
                "bd9e4d7c5ff7ce91"
            ],
            [],
            []
        ]
    },
    {
        "id": "7a9b50a2d3a7b500",
        "type": "ui_text",
        "z": "38c7601eaf2e42c6",
        "group": "acb5ef74.d1e03",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Number of Devices",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 640,
        "wires": []
    },
    {
        "id": "d08038590a566fb7",
        "type": "debug",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 720,
        "wires": []
    },
    {
        "id": "94d13c7668d47ccd",
        "type": "debug",
        "z": "38c7601eaf2e42c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 680,
        "wires": []
    },
    {
        "id": "946716bb.475018",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.166.161",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "eee387d9.0d5b28",
        "type": "ui_group",
        "name": "Temperature and Humidity",
        "tab": "3907c122.d68f4e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "123f1ed2.652671",
        "type": "ui_group",
        "name": "Photoresistor",
        "tab": "3907c122.d68f4e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b5b1f1.cdf76e",
        "type": "ui_group",
        "name": "User Thresholds",
        "tab": "3907c122.d68f4e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "acb5ef74.d1e03",
        "type": "ui_group",
        "name": "Bluetooth",
        "tab": "3907c122.d68f4e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3907c122.d68f4e",
        "type": "ui_tab",
        "name": "Project",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]