Build 2 Flow.json
[
    {
        "id": "700a4e0be0c758d2",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d4106059310d27b2",
        "type": "mqtt in",
        "z": "700a4e0be0c758d2",
        "name": "",
        "topic": "room/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "8fd8ab9f071409b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 40,
        "wires": [
            [
                "9ac5bb10f345698d",
                "6f632507582cd485"
            ]
        ]
    },
    {
        "id": "9ac5bb10f345698d",
        "type": "ui_gauge",
        "z": "700a4e0be0c758d2",
        "name": "",
        "group": "10b6e36b.0ae36d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{value}}",
        "min": "-20",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "800939b41861529b",
        "type": "mqtt in",
        "z": "700a4e0be0c758d2",
        "name": "",
        "topic": "room/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "8fd8ab9f071409b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "6f9703db316e46f8"
            ]
        ]
    },
    {
        "id": "6f9703db316e46f8",
        "type": "ui_gauge",
        "z": "700a4e0be0c758d2",
        "name": "",
        "group": "10b6e36b.0ae36d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 460,
        "y": 240,
        "wires": []
    },
    {
        "id": "62cd808ab36eb051",
        "type": "mqtt in",
        "z": "700a4e0be0c758d2",
        "name": "",
        "topic": "room/photoresistor",
        "qos": "2",
        "datatype": "auto",
        "broker": "8fd8ab9f071409b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "af807881d84159eb"
            ]
        ]
    },
    {
        "id": "f0cf6acffda3cf37",
        "type": "mqtt out",
        "z": "700a4e0be0c758d2",
        "name": "",
        "topic": "room/photoresistorThreshold",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fd8ab9f071409b1",
        "x": 580,
        "y": 360,
        "wires": []
    },
    {
        "id": "c908edb9248a199f",
        "type": "ui_numeric",
        "z": "700a4e0be0c758d2",
        "name": "",
        "label": "Temperature Threshold",
        "tooltip": "",
        "group": "10b6e36b.0ae36d",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "tempThreshold",
        "topicType": "str",
        "format": "{{msg.payload}}",
        "min": "-20",
        "max": "100",
        "step": "5",
        "className": "",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "c216f0b6603acdac"
            ]
        ]
    },
    {
        "id": "87adb5c94048e763",
        "type": "ui_numeric",
        "z": "700a4e0be0c758d2",
        "name": "",
        "label": "Light Threshold",
        "tooltip": "",
        "group": "35af72ed662af18e",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "lightThreshold",
        "topicType": "str",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "3000",
        "step": "50",
        "className": "",
        "x": 340,
        "y": 360,
        "wires": [
            [
                "f0cf6acffda3cf37"
            ]
        ]
    },
    {
        "id": "c24185694cdfe87e",
        "type": "function",
        "z": "700a4e0be0c758d2",
        "name": "Compare Temp to Threshold",
        "func": "if(flow.get(\"temp\") > flow.get(\"tempThreshold\") && flow.get(\"canSendEmail\") == \"YES\") {\n    msg.payload = \"ON\";\n    flow.set(\"canSendEmail\", \"NO\");\n} else if (flow.get(\"temp\") <= flow.get(\"tempThreshold\")) {\n    msg.payload = \"OFF\";\n    flow.set(\"canSendEmail\", \"YES\");\n} else {\n    msg.payload = \"NOTHING\";\n    flow.set(\"canSendEmail\", \"NO\");\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nif(typeof flow.get(\"fanState\") == \"undefined\") {\n    flow.set(\"fanState\", \"FanState: OFF\");\n}",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 100,
        "wires": [
            [
                "fbc0cb820ebd2428"
            ]
        ]
    },
    {
        "id": "fbc0cb820ebd2428",
        "type": "switch",
        "z": "700a4e0be0c758d2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            },
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 930,
        "y": 100,
        "wires": [
            [
                "1ba69e3b8dc3acef"
            ],
            [
                "84d20609dbbd3b70"
            ],
            [
                "8673eb2af78ed58f"
            ],
            [
                "8673eb2af78ed58f"
            ]
        ]
    },
    {
        "id": "84d20609dbbd3b70",
        "type": "mqtt out",
        "z": "700a4e0be0c758d2",
        "name": "Turn Off Fan",
        "topic": "room/fan",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fd8ab9f071409b1",
        "x": 1090,
        "y": 80,
        "wires": []
    },
    {
        "id": "b6b933ee1f62f5d2",
        "type": "mqtt out",
        "z": "700a4e0be0c758d2",
        "name": "Fan",
        "topic": "room/fan",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fd8ab9f071409b1",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "19c99f029bf501a5",
        "type": "function",
        "z": "700a4e0be0c758d2",
        "name": "Turn On/Off Fan",
        "func": "if(msg.payload.includes(\"YES\")) {\n    flow.set(\"fanState\", \"ON\");\n    msg.payload = \"ON\";\n} else {\n    flow.set(\"fanState\", \"OFF\");\n    msg.payload = \"OFF\";\n}\n\nflow.set(\"canSendEmail\", \"NO\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "b6b933ee1f62f5d2"
            ]
        ]
    },
    {
        "id": "6f632507582cd485",
        "type": "function",
        "z": "700a4e0be0c758d2",
        "name": "",
        "func": "flow.set(\"temp\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 80,
        "wires": [
            [
                "c24185694cdfe87e"
            ]
        ]
    },
    {
        "id": "1ba69e3b8dc3acef",
        "type": "function",
        "z": "700a4e0be0c758d2",
        "name": "Message",
        "func": "msg.payload = \"The temperature is \" + flow.get(\"temp\") + \". Would you like to turn on the fan?\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 40,
        "wires": [
            [
                "5d868672dbd84ba9"
            ]
        ]
    },
    {
        "id": "8673eb2af78ed58f",
        "type": "function",
        "z": "700a4e0be0c758d2",
        "name": "Set FanState Off",
        "func": "flow.set(\"fanState\", \"OFF\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "c216f0b6603acdac",
        "type": "function",
        "z": "700a4e0be0c758d2",
        "name": "",
        "func": "// if(msg.payload != \"undefined\") {\n//     msg.payload = flow.get(\"tempthreshold\");\n// }\nflow.set(\"tempThreshold\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            [
                "c24185694cdfe87e"
            ]
        ]
    },
    {
        "id": "5d868672dbd84ba9",
        "type": "e-mail",
        "z": "700a4e0be0c758d2",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "apptestinz@gmail.com",
        "dname": "",
        "x": 1240,
        "y": 40,
        "wires": []
    },
    {
        "id": "c47bae76923fa2b2",
        "type": "e-mail in",
        "z": "700a4e0be0c758d2",
        "name": "",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "autotls": "never",
        "port": "993",
        "box": "INBOX",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "30",
        "fetch": "auto",
        "inputs": 0,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "19c99f029bf501a5"
            ]
        ]
    },
    {
        "id": "81649a86cc139905",
        "type": "mqtt in",
        "z": "700a4e0be0c758d2",
        "name": "",
        "topic": "IoTlab/RFID",
        "qos": "2",
        "datatype": "auto",
        "broker": "8fd8ab9f071409b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 500,
        "wires": [
            [
                "8b115f392622c13b"
            ]
        ]
    },
    {
        "id": "8b115f392622c13b",
        "type": "ui_text",
        "z": "700a4e0be0c758d2",
        "group": "1e0cf6ea06414446",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RFID tag number",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 490,
        "y": 500,
        "wires": []
    },
    {
        "id": "d87e814ce08c9a81",
        "type": "mqtt in",
        "z": "700a4e0be0c758d2",
        "name": "",
        "topic": "user/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "8fd8ab9f071409b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "c908edb9248a199f"
            ]
        ]
    },
    {
        "id": "4d9f7b9890a15719",
        "type": "mqtt in",
        "z": "700a4e0be0c758d2",
        "name": "",
        "topic": "user/light",
        "qos": "2",
        "datatype": "auto",
        "broker": "8fd8ab9f071409b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 80,
        "y": 360,
        "wires": [
            [
                "87adb5c94048e763"
            ]
        ]
    },
    {
        "id": "af807881d84159eb",
        "type": "ui_gauge",
        "z": "700a4e0be0c758d2",
        "name": "",
        "group": "35af72ed662af18e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "3000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 300,
        "wires": []
    },
    {
        "id": "6af13951819d41f6",
        "type": "mqtt in",
        "z": "700a4e0be0c758d2",
        "name": "",
        "topic": "room/led",
        "qos": "2",
        "datatype": "auto",
        "broker": "8fd8ab9f071409b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "2697b8a97d6f6803"
            ]
        ]
    },
    {
        "id": "2697b8a97d6f6803",
        "type": "function",
        "z": "700a4e0be0c758d2",
        "name": "",
        "func": "if(msg.payload == \"YES\" && node.get(\"canSendEmail\") == \"YES\") {\n    msg.payload = \"SEND\";\n    node.get(\"canSendEmail\") == \"NO\";\n} else if (msg.payload == \"NO\"){\n    node.get(\"canSendEmail\") == \"YES\";\n    msg.payload = \"DONTSEND\";\n} else {\n    msg.payload = \"DONTSEND\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 420,
        "wires": [
            [
                "402d984a96cd15a7"
            ]
        ]
    },
    {
        "id": "402d984a96cd15a7",
        "type": "switch",
        "z": "700a4e0be0c758d2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SEND",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "36718497d98b1bdf"
            ]
        ]
    },
    {
        "id": "36718497d98b1bdf",
        "type": "function",
        "z": "700a4e0be0c758d2",
        "name": "Message",
        "func": "msg.payload = \"The LED is ON\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 420,
        "wires": [
            [
                "f0b13e6ec6b04787"
            ]
        ]
    },
    {
        "id": "f0b13e6ec6b04787",
        "type": "e-mail",
        "z": "700a4e0be0c758d2",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "apptestinz@gmail.com",
        "dname": "",
        "x": 860,
        "y": 420,
        "wires": []
    },
    {
        "id": "8fd8ab9f071409b1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.0.0.30",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "10b6e36b.0ae36d",
        "type": "ui_group",
        "name": "Temperature and Humidity",
        "tab": "d6ae9f25.efcf1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "35af72ed662af18e",
        "type": "ui_group",
        "name": "Photoresistor",
        "tab": "d6ae9f25.efcf1",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e0cf6ea06414446",
        "type": "ui_group",
        "name": "RFID",
        "tab": "d6ae9f25.efcf1",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6ae9f25.efcf1",
        "type": "ui_tab",
        "name": "Project",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]