DashboardFlow.json
[
    {
        "id": "846c86e7.2cbd58",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f5f2cb51.fba098",
        "type": "mqtt in",
        "z": "846c86e7.2cbd58",
        "name": "",
        "topic": "IoTlab/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "634f5115.6bd45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "f8943216.5bb47",
                "7ddfb341.f029fc"
            ]
        ]
    },
    {
        "id": "f8943216.5bb47",
        "type": "debug",
        "z": "846c86e7.2cbd58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "7ddfb341.f029fc",
        "type": "ui_gauge",
        "z": "846c86e7.2cbd58",
        "name": "",
        "group": "10b6e36b.0ae36d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{value}}",
        "min": "-20",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "4e05dc0d.3b0964",
        "type": "mqtt in",
        "z": "846c86e7.2cbd58",
        "name": "",
        "topic": "IoTlab/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "634f5115.6bd45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 240,
        "y": 520,
        "wires": [
            [
                "3bffc7e5.f152a8",
                "827031ef.91b1b"
            ]
        ]
    },
    {
        "id": "3bffc7e5.f152a8",
        "type": "debug",
        "z": "846c86e7.2cbd58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "827031ef.91b1b",
        "type": "ui_gauge",
        "z": "846c86e7.2cbd58",
        "name": "",
        "group": "10b6e36b.0ae36d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 620,
        "wires": []
    },
    {
        "id": "1a0dbcbd.a36273",
        "type": "mqtt out",
        "z": "846c86e7.2cbd58",
        "name": "",
        "topic": "room/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "634f5115.6bd45",
        "x": 620,
        "y": 680,
        "wires": []
    },
    {
        "id": "676bfd6b892bba7f",
        "type": "ui_button",
        "z": "846c86e7.2cbd58",
        "name": "LED Button",
        "group": "dec3e115.5b94e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Toggle LED Button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "pressed",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "e0270c134eab1571"
            ]
        ]
    },
    {
        "id": "e0270c134eab1571",
        "type": "function",
        "z": "846c86e7.2cbd58",
        "name": "",
        "func": "if(msg.payload === \"pressed\"){\n    if(context.global.state === \"OFF\"){\n      msg.payload = \"ON\";  \n    }else{\n      msg.payload = \"OFF\";\n    }\n    context.global.state = msg.payload;\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 680,
        "wires": [
            [
                "1a0dbcbd.a36273"
            ]
        ]
    },
    {
        "id": "634f5115.6bd45",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "10b6e36b.0ae36d",
        "type": "ui_group",
        "name": "Temperature and Humidity",
        "tab": "d6ae9f25.efcf1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dec3e115.5b94e",
        "type": "ui_group",
        "name": "LED",
        "tab": "d6ae9f25.efcf1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6ae9f25.efcf1",
        "type": "ui_tab",
        "name": "Project",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]