flows.json
[
    {
        "id": "2157a55c9826574e",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "56cc52b8c6c36395",
        "type": "mqtt in",
        "z": "2157a55c9826574e",
        "name": "",
        "topic": "IoTlab/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "634f5115.6bd45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 320,
        "wires": [
            [
                "4217ce4779b28dad",
                "63672f3b60ef209e"
            ]
        ]
    },
    {
        "id": "4217ce4779b28dad",
        "type": "debug",
        "z": "2157a55c9826574e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "63672f3b60ef209e",
        "type": "ui_gauge",
        "z": "2157a55c9826574e",
        "name": "",
        "group": "10b6e36b.0ae36d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{value}}",
        "min": "-20",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "3167810596b8c905",
        "type": "mqtt in",
        "z": "2157a55c9826574e",
        "name": "",
        "topic": "IoTlab/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "634f5115.6bd45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 520,
        "wires": [
            [
                "2709a262f27b1f5a",
                "abe350ced54ec6c5"
            ]
        ]
    },
    {
        "id": "2709a262f27b1f5a",
        "type": "debug",
        "z": "2157a55c9826574e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "abe350ced54ec6c5",
        "type": "ui_gauge",
        "z": "2157a55c9826574e",
        "name": "",
        "group": "10b6e36b.0ae36d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 620,
        "wires": []
    },
    {
        "id": "364836edafe4f2a9",
        "type": "mqtt out",
        "z": "2157a55c9826574e",
        "name": "",
        "topic": "room/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "634f5115.6bd45",
        "x": 620,
        "y": 680,
        "wires": []
    },
    {
        "id": "5278258a991d8485",
        "type": "ui_button",
        "z": "2157a55c9826574e",
        "name": "LED Button",
        "group": "dec3e115.5b94e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Toggle LED Button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "pressed",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "43158280f7049118"
            ]
        ]
    },
    {
        "id": "43158280f7049118",
        "type": "function",
        "z": "2157a55c9826574e",
        "name": "",
        "func": "if(msg.payload === \"pressed\"){\n    if(context.global.state === \"OFF\"){\n      msg.payload = \"ON\";  \n    }else{\n      msg.payload = \"OFF\";\n    }\n    context.global.state = msg.payload;\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 680,
        "wires": [
            [
                "364836edafe4f2a9"
            ]
        ]
    },
    {
        "id": "cb3416b65d3ce498",
        "type": "mqtt in",
        "z": "2157a55c9826574e",
        "name": "",
        "topic": "IoTlab/photoresistor",
        "qos": "2",
        "datatype": "auto",
        "broker": "634f5115.6bd45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 840,
        "wires": [
            [
                "d8ccda86f0eb3880"
            ]
        ]
    },
    {
        "id": "a8749612d4e5afbd",
        "type": "ui_text_input",
        "z": "2157a55c9826574e",
        "name": "",
        "label": "threshold",
        "tooltip": "",
        "group": "20cc05391917b84c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "room/photoresistor",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 270,
        "y": 920,
        "wires": [
            [
                "7c36da9df9092ae5"
            ]
        ]
    },
    {
        "id": "d8ccda86f0eb3880",
        "type": "ui_chart",
        "z": "2157a55c9826574e",
        "name": "",
        "group": "20cc05391917b84c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Light Intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1500",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "7c36da9df9092ae5",
        "type": "mqtt out",
        "z": "2157a55c9826574e",
        "name": "",
        "topic": "room/photoresistor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "634f5115.6bd45",
        "x": 660,
        "y": 860,
        "wires": []
    },
    {
        "id": "5f7d78de2d897505",
        "type": "ui_text_input",
        "z": "2157a55c9826574e",
        "name": "",
        "label": "Temp Threshold",
        "tooltip": "",
        "group": "10b6e36b.0ae36d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "room/threshold",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 320,
        "y": 420,
        "wires": [
            [
                "49a3f6980a6044f1"
            ]
        ]
    },
    {
        "id": "49a3f6980a6044f1",
        "type": "mqtt out",
        "z": "2157a55c9826574e",
        "name": "",
        "topic": "room/threshold",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "634f5115.6bd45",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "634f5115.6bd45",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "10b6e36b.0ae36d",
        "type": "ui_group",
        "name": "Temperature and Humidity",
        "tab": "d6ae9f25.efcf1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dec3e115.5b94e",
        "type": "ui_group",
        "name": "LED",
        "tab": "d6ae9f25.efcf1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "20cc05391917b84c",
        "type": "ui_group",
        "name": "Photoresistor",
        "tab": "d6ae9f25.efcf1",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6ae9f25.efcf1",
        "type": "ui_tab",
        "name": "Project",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]