flows.json
[{"id":"c2998ed7.b4baf","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"c647cb8b.8edcc8","type":"mqtt in","z":"c2998ed7.b4baf","name":"","topic":"room/temperature","qos":"2","datatype":"auto","broker":"634f5115.6bd45","nl":false,"rap":true,"rh":0,"x":90,"y":120,"wires":[["d81cbbea.08da88","7fc97f91.f97ee"]]},{"id":"d81cbbea.08da88","type":"ui_gauge","z":"c2998ed7.b4baf","name":"","group":"10b6e36b.0ae36d","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":"-20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":650,"y":120,"wires":[]},{"id":"94fcb44b.707c68","type":"mqtt in","z":"c2998ed7.b4baf","name":"","topic":"room/humidity","qos":"2","datatype":"auto","broker":"634f5115.6bd45","nl":false,"rap":true,"rh":0,"x":230,"y":520,"wires":[["56365b43.1382c4"]]},{"id":"56365b43.1382c4","type":"ui_gauge","z":"c2998ed7.b4baf","name":"","group":"10b6e36b.0ae36d","order":0,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":580,"y":520,"wires":[]},{"id":"7fc77b7a.9c2284","type":"mqtt out","z":"c2998ed7.b4baf","name":"","topic":"room/light","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"634f5115.6bd45","x":640,"y":620,"wires":[]},{"id":"dae9c5e6.56f8a8","type":"ui_button","z":"c2998ed7.b4baf","name":"LED Button","group":"dec3e115.5b94e","order":2,"width":0,"height":0,"passthru":false,"label":"Toggle LED Button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"pressed","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":620,"wires":[["4438dfc2.e82f1"]]},{"id":"4438dfc2.e82f1","type":"function","z":"c2998ed7.b4baf","name":"Turn On/Off Light","func":"if(msg.payload === \"pressed\"){\n    if(context.global.state === \"OFF\"){\n      msg.payload = \"ON\";  \n    }else{\n      msg.payload = \"OFF\";\n    }\n    context.global.state = msg.payload;\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":620,"wires":[["7fc77b7a.9c2284"]]},{"id":"187d9b0e.411f05","type":"mqtt in","z":"c2998ed7.b4baf","name":"","topic":"room/photoresistor","qos":"2","datatype":"auto","broker":"634f5115.6bd45","nl":false,"rap":true,"rh":0,"x":230,"y":700,"wires":[["35175ed3.6f5112"]]},{"id":"35175ed3.6f5112","type":"ui_chart","z":"c2998ed7.b4baf","name":"","group":"e946458d.cdbdf8","order":1,"width":0,"height":0,"label":"Light Intensity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":620,"y":700,"wires":[[]]},{"id":"bd57db20.bcb8a8","type":"mqtt out","z":"c2998ed7.b4baf","name":"","topic":"room/photoresistor","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"634f5115.6bd45","x":630,"y":820,"wires":[]},{"id":"46b4f99e.a1bbc8","type":"ui_numeric","z":"c2998ed7.b4baf","name":"","label":"Temperature Threshold","tooltip":"","group":"10b6e36b.0ae36d","order":2,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"tempThreshold","topicType":"str","format":"{{msg.payload}}","min":"-20","max":"100","step":"5","className":"","x":330,"y":320,"wires":[["beb69e9d.0effb"]]},{"id":"6d3fe72e.4c30f8","type":"ui_numeric","z":"c2998ed7.b4baf","name":"","label":"Light Threshold","tooltip":"","group":"e946458d.cdbdf8","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"lightThreshold","topicType":"str","format":"{{value}}","min":0,"max":"1000","step":"50","className":"","x":260,"y":820,"wires":[["bd57db20.bcb8a8"]]},{"id":"3561ac3e.9fecf4","type":"function","z":"c2998ed7.b4baf","name":"Compare Temp and Threshold","func":"if(flow.get(\"temp\") > flow.get(\"tempThreshold\") && flow.get(\"canSendEmail\") == \"YES\") {\n    msg.payload = \"ON\";\n    flow.set(\"canSendEmail\", \"NO\");\n} else if (flow.get(\"temp\") <= flow.get(\"tempThreshold\")) {\n    msg.payload = \"OFF\";\n    flow.set(\"canSendEmail\", \"YES\");\n} else {\n    msg.payload = \"NOTHING\";\n    flow.set(\"canSendEmail\", \"NO\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nif(typeof flow.get(\"fanState\") == \"undefined\") {\n    flow.set(\"fanState\", \"FanState: OFF\");\n}","finalize":"","libs":[],"x":590,"y":220,"wires":[["d3ca8117.5601c"]]},{"id":"d3ca8117.5601c","type":"switch","z":"c2998ed7.b4baf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"empty"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":4,"x":810,"y":220,"wires":[["c3ba98cd.9341a8"],["ccf6ce04.7e744"],["336aa51e.fecdea"],["336aa51e.fecdea"]]},{"id":"ccf6ce04.7e744","type":"mqtt out","z":"c2998ed7.b4baf","name":"Turn Off Fan","topic":"room/fan","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"eaab1d82.fedaf","x":1030,"y":200,"wires":[]},{"id":"40a85923.4e1bc8","type":"mqtt out","z":"c2998ed7.b4baf","name":"Fan","topic":"room/fan","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"eaab1d82.fedaf","x":850,"y":460,"wires":[]},{"id":"dad8cbef.e0c658","type":"function","z":"c2998ed7.b4baf","name":"Turn On/Off Fan","func":"if(msg.payload.includes(\"YES\")) {\n    flow.set(\"fanState\", \"ON\");\n    msg.payload = \"ON\";\n} else {\n    flow.set(\"fanState\", \"OFF\");\n    msg.payload = \"OFF\";\n}\n\nflow.set(\"canSendEmail\", \"NO\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":440,"wires":[["40a85923.4e1bc8"]]},{"id":"7fc97f91.f97ee","type":"function","z":"c2998ed7.b4baf","name":"","func":"flow.set(\"temp\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":160,"wires":[["3561ac3e.9fecf4"]]},{"id":"c3ba98cd.9341a8","type":"function","z":"c2998ed7.b4baf","name":"Message","func":"msg.payload = \"The temperature is \" + flow.get(\"temp\") + \". Would you like to turn on the fan?\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":140,"wires":[["1d199df8.486dd2"]]},{"id":"336aa51e.fecdea","type":"function","z":"c2998ed7.b4baf","name":"Set FanState Off","func":"flow.set(\"fanState\", \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":300,"wires":[[]]},{"id":"beb69e9d.0effb","type":"function","z":"c2998ed7.b4baf","name":"","func":"// if(msg.payload != \"undefined\") {\n//     msg.payload = flow.get(\"tempthreshold\");\n// }\nflow.set(\"tempThreshold\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":320,"wires":[["3561ac3e.9fecf4"]]},{"id":"1808b92c.918017","type":"inject","z":"c2998ed7.b4baf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"45","payloadType":"str","x":80,"y":220,"wires":[["296c0720.7b7bd8"]]},{"id":"296c0720.7b7bd8","type":"mqtt out","z":"c2998ed7.b4baf","name":"","topic":"room/temperature","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"eaab1d82.fedaf","x":280,"y":220,"wires":[]},{"id":"4aa7b2f8.3b813c","type":"inject","z":"c2998ed7.b4baf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"str","x":80,"y":260,"wires":[["296c0720.7b7bd8"]]},{"id":"1d199df8.486dd2","type":"e-mail","z":"c2998ed7.b4baf","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"brandonrpi.send@gmail.com","dname":"","x":1280,"y":140,"wires":[]},{"id":"6dad4bc4.798864","type":"e-mail in","z":"c2998ed7.b4baf","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"autotls":"never","port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"30","fetch":"auto","inputs":0,"x":280,"y":420,"wires":[["dad8cbef.e0c658"]]},{"id":"c2e9b1f7.51772","type":"mqtt in","z":"c2998ed7.b4baf","name":"","topic":"IoTlab/RFID","qos":"2","datatype":"auto","broker":"634f5115.6bd45","nl":false,"rap":true,"rh":0,"x":250,"y":960,"wires":[["d4c826db.150a58"]]},{"id":"d4c826db.150a58","type":"ui_text","z":"c2998ed7.b4baf","group":"bf529ded.70d02","order":0,"width":0,"height":0,"name":"","label":"RFID tag number","format":"{{msg.payload}}","layout":"row-left","className":"","x":630,"y":960,"wires":[]},{"id":"613a37cd.1e8db8","type":"ui_numeric","z":"c2998ed7.b4baf","name":"","label":"Temperature threshold","tooltip":"","group":"bf529ded.70d02","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"room/temperature","topicType":"msg","format":"{{value}}","min":"-20","max":"40","step":1,"className":"","x":560,"y":1060,"wires":[[]]},{"id":"fecea39d.45c23","type":"ui_numeric","z":"c2998ed7.b4baf","name":"","label":"Light intensity threshold","tooltip":"","group":"bf529ded.70d02","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"room/lightIntensity","topicType":"msg","format":"{{value}}","min":"500","max":"1200","step":"50","className":"","x":560,"y":1140,"wires":[[]]},{"id":"3ba58149.67102e","type":"mqtt in","z":"c2998ed7.b4baf","name":"","topic":"user/temperature","qos":"2","datatype":"auto","broker":"634f5115.6bd45","nl":false,"rap":true,"rh":0,"x":280,"y":1060,"wires":[["613a37cd.1e8db8"]]},{"id":"69ed7959.a284e8","type":"mqtt in","z":"c2998ed7.b4baf","name":"","topic":"user/light","qos":"2","datatype":"auto","broker":"634f5115.6bd45","nl":false,"rap":true,"rh":0,"x":280,"y":1140,"wires":[["fecea39d.45c23"]]},{"id":"634f5115.6bd45","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"10b6e36b.0ae36d","type":"ui_group","name":"Temperature and Humidity","tab":"d6ae9f25.efcf1","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"dec3e115.5b94e","type":"ui_group","name":"LED","tab":"d6ae9f25.efcf1","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e946458d.cdbdf8","type":"ui_group","name":"Photoresistor","tab":"d6ae9f25.efcf1","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"eaab1d82.fedaf","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bf529ded.70d02","type":"ui_group","name":"RFID","tab":"d6ae9f25.efcf1","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d6ae9f25.efcf1","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]