flow.json
[
    {
        "id": "1e1be7c4e5b79675",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f1e87223d4960511",
        "type": "mqtt in",
        "z": "1e1be7c4e5b79675",
        "name": "",
        "topic": "IoTlab/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "634f5115.6bd45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "78247f78cb5393a9",
                "8ed47355d2597470"
            ]
        ]
    },
    {
        "id": "78247f78cb5393a9",
        "type": "debug",
        "z": "1e1be7c4e5b79675",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "8ed47355d2597470",
        "type": "ui_gauge",
        "z": "1e1be7c4e5b79675",
        "name": "",
        "group": "10b6e36b.0ae36d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{value}}",
        "min": "-20",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "3262c36989f59ff8",
        "type": "mqtt in",
        "z": "1e1be7c4e5b79675",
        "name": "",
        "topic": "IoTlab/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "634f5115.6bd45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 520,
        "wires": [
            [
                "c2b332c529bfacb9",
                "d6eaf6436749c954"
            ]
        ]
    },
    {
        "id": "c2b332c529bfacb9",
        "type": "debug",
        "z": "1e1be7c4e5b79675",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "d6eaf6436749c954",
        "type": "ui_gauge",
        "z": "1e1be7c4e5b79675",
        "name": "",
        "group": "10b6e36b.0ae36d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 620,
        "wires": []
    },
    {
        "id": "0b2409a5f3aa464c",
        "type": "mqtt out",
        "z": "1e1be7c4e5b79675",
        "name": "",
        "topic": "room/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "634f5115.6bd45",
        "x": 620,
        "y": 680,
        "wires": []
    },
    {
        "id": "9e2a4cc162b07fd7",
        "type": "ui_button",
        "z": "1e1be7c4e5b79675",
        "name": "LED Button",
        "group": "dec3e115.5b94e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Toggle LED Button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "pressed",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "83f33c6b4c1af036"
            ]
        ]
    },
    {
        "id": "83f33c6b4c1af036",
        "type": "function",
        "z": "1e1be7c4e5b79675",
        "name": "",
        "func": "if(msg.payload === \"pressed\"){\n    if(context.global.state === \"OFF\"){\n      msg.payload = \"ON\";  \n    }else{\n      msg.payload = \"OFF\";\n    }\n    context.global.state = msg.payload;\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 680,
        "wires": [
            [
                "0b2409a5f3aa464c"
            ]
        ]
    },
    {
        "id": "978d9369960ad610",
        "type": "mqtt in",
        "z": "1e1be7c4e5b79675",
        "name": "",
        "topic": "IoTlab/photoresistor",
        "qos": "2",
        "datatype": "auto",
        "broker": "634f5115.6bd45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 840,
        "wires": [
            [
                "245b70ccb2b5d96e"
            ]
        ]
    },
    {
        "id": "0356531186a60b19",
        "type": "ui_text_input",
        "z": "1e1be7c4e5b79675",
        "name": "",
        "label": "threshold",
        "tooltip": "",
        "group": "5f4b52a4e5d508ad",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "room/photoresistor",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 270,
        "y": 920,
        "wires": [
            [
                "29f231bbd6904a08"
            ]
        ]
    },
    {
        "id": "245b70ccb2b5d96e",
        "type": "ui_chart",
        "z": "1e1be7c4e5b79675",
        "name": "",
        "group": "5f4b52a4e5d508ad",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Light Intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1500",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "29f231bbd6904a08",
        "type": "mqtt out",
        "z": "1e1be7c4e5b79675",
        "name": "",
        "topic": "room/photoresistor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "634f5115.6bd45",
        "x": 660,
        "y": 860,
        "wires": []
    },
    {
        "id": "634f5115.6bd45",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "10b6e36b.0ae36d",
        "type": "ui_group",
        "name": "Temperature and Humidity",
        "tab": "d6ae9f25.efcf1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dec3e115.5b94e",
        "type": "ui_group",
        "name": "LED",
        "tab": "d6ae9f25.efcf1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f4b52a4e5d508ad",
        "type": "ui_group",
        "name": "Photoresistor",
        "tab": "d6ae9f25.efcf1",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6ae9f25.efcf1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]