Project Flow.json
[{"id":"e6c24087187a4844","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"5a6c6923c19f7d05","type":"mqtt in","z":"e6c24087187a4844","name":"","topic":"room/temperature","qos":"2","datatype":"auto","broker":"946716bb.475018","nl":false,"rap":false,"inputs":0,"x":110,"y":20,"wires":[["c6a06f83b8220157","409006b388d06520"]]},{"id":"c6a06f83b8220157","type":"ui_gauge","z":"e6c24087187a4844","name":"","group":"eee387d9.0d5b28","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":"-20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":550,"y":20,"wires":[]},{"id":"2f0f715de9f0a46d","type":"mqtt in","z":"e6c24087187a4844","name":"","topic":"room/humidity","qos":"2","datatype":"auto","broker":"946716bb.475018","inputs":0,"x":110,"y":220,"wires":[["7ab38ee95f711d12"]]},{"id":"7ab38ee95f711d12","type":"ui_gauge","z":"e6c24087187a4844","name":"","group":"eee387d9.0d5b28","order":0,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":260,"y":220,"wires":[]},{"id":"460717d619cb05c5","type":"mqtt in","z":"e6c24087187a4844","name":"","topic":"room/photoresistor","qos":"2","datatype":"auto","broker":"946716bb.475018","inputs":0,"x":430,"y":220,"wires":[["5deac0ea0330802c"]]},{"id":"afe4d6e1336d15ab","type":"mqtt out","z":"e6c24087187a4844","name":"","topic":"room/photoresistorThreshold","qos":"0","retain":"true","broker":"946716bb.475018","x":600,"y":280,"wires":[]},{"id":"f6c7747e61b6d42f","type":"ui_numeric","z":"e6c24087187a4844","name":"","label":"Temperature Threshold","tooltip":"","group":"eee387d9.0d5b28","order":2,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"tempThreshold","topicType":"str","format":"{{msg.payload}}","min":"-20","max":"100","step":"5","className":"","x":330,"y":100,"wires":[["af70e63d112edab0"]]},{"id":"de1e17490e252db2","type":"ui_numeric","z":"e6c24087187a4844","name":"","label":"Light Threshold","tooltip":"","group":"123f1ed2.652671","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"lightThreshold","topicType":"str","format":"{{msg.payload}}","min":0,"max":"3000","step":"50","className":"","x":360,"y":280,"wires":[["afe4d6e1336d15ab"]]},{"id":"47423d28e468c14d","type":"function","z":"e6c24087187a4844","name":"Compare Temp to Threshold","func":"if(flow.get(\"temp\") > flow.get(\"tempThreshold\") && flow.get(\"canSendEmail\") == \"YES\") {\n    msg.payload = \"ON\";\n    flow.set(\"canSendEmail\", \"NO\");\n} else if (flow.get(\"temp\") <= flow.get(\"tempThreshold\")) {\n    msg.payload = \"OFF\";\n    flow.set(\"canSendEmail\", \"YES\");\n} else {\n    msg.payload = \"NOTHING\";\n    flow.set(\"canSendEmail\", \"NO\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":80,"wires":[["14994180062bb0c4"]]},{"id":"14994180062bb0c4","type":"switch","z":"e6c24087187a4844","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"empty"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":4,"x":930,"y":80,"wires":[["8dc1a8e0b390622b"],["b275e96b4d60b804"],["7fc1ea9dfc1c8439"],["7fc1ea9dfc1c8439"]]},{"id":"b275e96b4d60b804","type":"mqtt out","z":"e6c24087187a4844","name":"Turn Off Fan","topic":"room/fan","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"946716bb.475018","x":1090,"y":60,"wires":[]},{"id":"635964773bfdcefe","type":"mqtt out","z":"e6c24087187a4844","name":"Fan","topic":"room/fan","qos":"0","retain":"true","broker":"946716bb.475018","x":570,"y":160,"wires":[]},{"id":"075263a91ca72d46","type":"function","z":"e6c24087187a4844","name":"Turn On/Off Fan","func":"if(msg.payload.includes(\"YES\")) {\n    flow.set(\"fanState\", \"ON\");\n    msg.payload = \"ON\";\n} else {\n    flow.set(\"fanState\", \"OFF\");\n    msg.payload = \"OFF\";\n}\n\nflow.set(\"canSendEmail\", \"NO\");\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["635964773bfdcefe"]]},{"id":"409006b388d06520","type":"function","z":"e6c24087187a4844","name":"","func":"flow.set(\"temp\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":60,"wires":[["47423d28e468c14d"]]},{"id":"8dc1a8e0b390622b","type":"function","z":"e6c24087187a4844","name":"Message","func":"msg.payload = \"The temperature is \" + flow.get(\"temp\") + \". Would you like to turn on the fan?\"\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":20,"wires":[["bab42d0fc1a757ef"]]},{"id":"7fc1ea9dfc1c8439","type":"function","z":"e6c24087187a4844","name":"Set FanState Off","func":"flow.set(\"fanState\", \"OFF\");\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":120,"wires":[[]]},{"id":"af70e63d112edab0","type":"function","z":"e6c24087187a4844","name":"","func":"// if(msg.payload != \"undefined\") {\n//     msg.payload = flow.get(\"tempthreshold\");\n// }\nflow.set(\"tempThreshold\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":100,"wires":[["47423d28e468c14d"]]},{"id":"bab42d0fc1a757ef","type":"e-mail","z":"e6c24087187a4844","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"apptestinz@gmail.com","dname":"","x":1240,"y":20,"wires":[]},{"id":"157e1625f7d11745","type":"e-mail in","z":"e6c24087187a4844","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"autotls":"never","port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"30","fetch":"auto","inputs":0,"x":90,"y":160,"wires":[["075263a91ca72d46"]]},{"id":"e4a15540d1e94956","type":"mqtt in","z":"e6c24087187a4844","name":"","topic":"IoTlab/RFID","qos":"2","datatype":"auto","broker":"946716bb.475018","inputs":0,"x":110,"y":400,"wires":[["d6f63b0b3d7dfca1","7b6250c78cfcd573"]]},{"id":"d6f63b0b3d7dfca1","type":"ui_text","z":"e6c24087187a4844","group":"4b5b1f1.cdf76e","order":1,"width":0,"height":0,"name":"","label":"RFID Tag Name","format":"{{msg.payload}}","layout":"row-left","className":"","x":540,"y":400,"wires":[]},{"id":"495ccde697211ede","type":"mqtt in","z":"e6c24087187a4844","name":"","topic":"user/temperature","qos":"2","datatype":"auto","broker":"946716bb.475018","inputs":0,"x":100,"y":100,"wires":[["f6c7747e61b6d42f"]]},{"id":"c780fd5449783e5e","type":"mqtt in","z":"e6c24087187a4844","name":"","topic":"user/light","qos":"2","datatype":"auto","broker":"946716bb.475018","inputs":0,"x":100,"y":280,"wires":[["de1e17490e252db2"]]},{"id":"5deac0ea0330802c","type":"ui_gauge","z":"e6c24087187a4844","name":"","group":"123f1ed2.652671","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":590,"y":220,"wires":[]},{"id":"8d933a9af429041d","type":"mqtt in","z":"e6c24087187a4844","name":"","topic":"room/led","qos":"2","datatype":"auto","broker":"946716bb.475018","inputs":0,"x":100,"y":340,"wires":[["1de147fd2125a4ac"]]},{"id":"1de147fd2125a4ac","type":"function","z":"e6c24087187a4844","name":"","func":"if(msg.payload == \"ON\" && context.get(\"canSendEmail\") == \"YES\") {\n    msg.payload = \"SEND\";\n    context.set(\"canSendEmail\", \"NO\");\n} else if (msg.payload == \"OFF\"){\n    context.set(\"canSendEmail\", \"YES\");\n    msg.payload = \"DONTSEND\";\n} else {\n    msg.payload = \"DONTSEND\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":340,"wires":[["e3ead32782a6dd40"]]},{"id":"e3ead32782a6dd40","type":"switch","z":"e6c24087187a4844","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"SEND","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":340,"wires":[["313b530362a13a23"]]},{"id":"313b530362a13a23","type":"function","z":"e6c24087187a4844","name":"Message","func":"msg.payload = \"The LED is ON\"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["31ac5c9a7625dd6c"]]},{"id":"31ac5c9a7625dd6c","type":"e-mail","z":"e6c24087187a4844","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"apptestinz@gmail.com","dname":"","x":850,"y":340,"wires":[]},{"id":"ef705a5eb8cb4127","type":"function","z":"e6c24087187a4844","name":"Message","func":"date = new Date();\ntime = date.toLocaleTimeString(\"en-US\", {\n    hour:\"2-digit\",\n    minute:\"2-digit\",\n    hour12:false\n})\n\nmsg.payload = \"At \" + time + \", this \" + msg.payload + \" is here.\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":440,"wires":[["e92c12592cace291"]]},{"id":"e92c12592cace291","type":"e-mail","z":"e6c24087187a4844","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"apptestinz@gmail.com","dname":"","x":740,"y":440,"wires":[]},{"id":"7142e076362a4243","type":"mqtt out","z":"e6c24087187a4844","name":"","topic":"user/light","qos":"0","retain":"true","broker":"946716bb.475018","x":1240,"y":560,"wires":[]},{"id":"dd15dc3dce359521","type":"ui_numeric","z":"e6c24087187a4844","name":"","label":"User Light Threshold","tooltip":"","group":"4b5b1f1.cdf76e","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"userLightThreshold","topicType":"str","format":"{{msg.payload}}","min":0,"max":"3000","step":"50","className":"","x":780,"y":560,"wires":[["5a4e8b034e639f59"]]},{"id":"f1cba0b85fc607bf","type":"ui_numeric","z":"e6c24087187a4844","name":"","label":"User Temperature Threshold","tooltip":"","group":"4b5b1f1.cdf76e","order":2,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"userTempThreshold","topicType":"str","format":"{{msg.payload}}","min":"-20","max":"100","step":"5","className":"","x":800,"y":500,"wires":[["1254e11017ad8346"]]},{"id":"73bf4c20f26b270f","type":"mqtt out","z":"e6c24087187a4844","name":"","topic":"user/temperature","qos":"0","retain":"true","broker":"946716bb.475018","x":1270,"y":500,"wires":[]},{"id":"7b6250c78cfcd573","type":"function","z":"e6c24087187a4844","name":"Update Current User","func":"if (msg.payload != \"\" && msg.payload != null && msg.payload != \"undefined\") {\n    flow.set(\"user\", msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":300,"y":440,"wires":[["ef705a5eb8cb4127","9ffa48ad2ad453f7","75d5842989a01ccc"]]},{"id":"1254e11017ad8346","type":"function","z":"e6c24087187a4844","name":"Update User Temp","func":"flow.set(\"userTemp\" + flow.get(\"user\"), msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":500,"wires":[["73bf4c20f26b270f"]]},{"id":"5a4e8b034e639f59","type":"function","z":"e6c24087187a4844","name":"Update User Light","func":"flow.set(\"userLight\" + flow.get(\"user\"), msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":560,"wires":[["7142e076362a4243"]]},{"id":"9ffa48ad2ad453f7","type":"function","z":"e6c24087187a4844","name":"Set User Temp","func":"if (flow.get(\"userTemp\" + flow.get(\"user\")) == null) {\n    flow.set(\"userTemp\" + flow.get(\"user\"), 30);\n}\nmsg.payload = flow.get(\"userTemp\" + flow.get(\"user\"));\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":500,"wires":[["f1cba0b85fc607bf"]]},{"id":"75d5842989a01ccc","type":"function","z":"e6c24087187a4844","name":"Set User Light","func":"if (flow.get(\"userLight\" + flow.get(\"user\")) == null) {\n    flow.set(\"userLight\" + flow.get(\"user\"), 500);\n}\nmsg.payload = flow.get(\"userLight\" + flow.get(\"user\"));\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":560,"wires":[["dd15dc3dce359521"]]},{"id":"f7f5b49e9c07b66b","type":"function","z":"e6c24087187a4844","name":"Convert Devices to Array","func":"function JSONize(str) {\n  return str\n    // wrap keys without quote with valid double quote\n    .replace(/([\\$\\w]+)\\s*:/g, function(_, $1){return '\"'+$1+'\":'})    \n    // replacing single quote wrapped ones to double quote \n    .replace(/'([^']+)'/g, function(_, $1){return '\"'+$1+'\"'})         \n}\n\ntry {\n\n    devices = msg.payload.substring(86).replace(/[\\n\\r\\s]/g, '').split(/(?<=})/);\n    devices.reverse();\n    \n    transmittedIds = [];\n    RSSIs = [];\n    for (let i = 0; i < devices.length; i++) {\n        const device = JSON.parse(JSONize(devices[i]));\n        // if(transmittedIds.indexOf(device.transmittedId) === -1) {\n        //     transmittedIds.push(device.transmittedId);\n        // }\n        RSSIs.push(device.rssi);\n    }\n    if(RSSIs.length === 0) {\n        msg.payload = 0;\n    }\n    RSSIs = RSSIs.filter(function(value, index, arr) {\n        return value >= flow.get(\"rssiThreshold\");\n    });\n    if(RSSIs != 'undefined' && RSSIs != null && RSSIs.length != 0) {\n        msg.payload = RSSIs.length;   \n    } else {\n        msg.payload = 0;\n    }   \n} catch (err){\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":640,"wires":[["dc5340df99f5219b","72cb513d5f7247b7"]]},{"id":"6a8ee3ddef1e75ef","type":"ui_button","z":"e6c24087187a4844","name":"Start Scanning","group":"acb5ef74.d1e03","order":3,"width":0,"height":0,"passthru":true,"label":"Scan for Devices","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"scan","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":640,"wires":[["4ce04f143c3ad89b"]]},{"id":"0eb03fd57f02dd82","type":"trigger","z":"e6c24087187a4844","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-15","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":450,"y":700,"wires":[["6a8ee3ddef1e75ef"]]},{"id":"66c00b9d81e672d5","type":"ui_numeric","z":"e6c24087187a4844","name":"","label":"RSSI Threshold","tooltip":"","group":"acb5ef74.d1e03","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{msg.payload}}","min":"-100","max":"100","step":"2","className":"","x":130,"y":560,"wires":[["016b3952eb8bcd64"]]},{"id":"016b3952eb8bcd64","type":"function","z":"e6c24087187a4844","name":"Set RSSI Threshold","func":"flow.set(\"rssiThreshold\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":560,"wires":[[]]},{"id":"4ce04f143c3ad89b","type":"exec","z":"e6c24087187a4844","command":"cd /home/pi/Desktop/barnowl-hci-master; sudo timeout 15 npm start;","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Run Barnowl","x":310,"y":640,"wires":[["0eb03fd57f02dd82","f7f5b49e9c07b66b"],[],[]]},{"id":"dc5340df99f5219b","type":"ui_text","z":"e6c24087187a4844","group":"acb5ef74.d1e03","order":2,"width":0,"height":0,"name":"","label":"Number of Devices","format":"{{msg.payload}}","layout":"row-spread","className":"","x":850,"y":640,"wires":[]},{"id":"72cb513d5f7247b7","type":"debug","z":"e6c24087187a4844","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":720,"wires":[]},{"id":"946716bb.475018","type":"mqtt-broker","name":"","broker":"192.168.166.154","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"eee387d9.0d5b28","type":"ui_group","name":"Temperature and Humidity","tab":"3907c122.d68f4e","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"123f1ed2.652671","type":"ui_group","name":"Photoresistor","tab":"3907c122.d68f4e","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4b5b1f1.cdf76e","type":"ui_group","name":"User Thresholds","tab":"3907c122.d68f4e","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"acb5ef74.d1e03","type":"ui_group","name":"Bluetooth","tab":"3907c122.d68f4e","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3907c122.d68f4e","type":"ui_tab","name":"Project","icon":"dashboard","order":1,"disabled":false,"hidden":false}]